{% extends "base.twig" %}

{#{% block title %}Register{% endblock %}#}


{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>

{% endblock %}

{% block content %}
    <h1 class="text-center">Register </h1>
    {#<form action="/users/register" METHOD="POST" onsubmit="return validateForm()" enctype="multipart/form-data">#}
    <div class=".col-md-6 .col-md-offset-3">
        <div class="login-container">
            <form class="navbar-form" action="" METHOD="POST" onsubmit="return validateForm()" enctype="multipart/form-data">
            {{ form_widget(form) }}
                <img id="thumbnail" src="/assets/uploads/default.jpg" width="200" height="200"  />
            </form>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/thumbnail.js','js') }}" type="text/javascript" charset="utf-8"></script>

  {#  <script src="{{ asset('/app.js','js') }}" type="text/javascript" charset="utf-8"></script>
#}
{% endblock %}

