<!DOCTYPE html>
<html>
    <head>
        {%  block styles %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.min.css','css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('style.css','css') }}">
        {% endblock %}

        {% block title %}
            <title> PWGRAM </title>
        {% endblock %}



    </head>
    <body>
        <div id="header" >
            {% block header %}
                <ul class="nav nav-pills">>
                    {% block links %}
                    <li role="presentation"><a href="/">Home</a>
                    {% endblock %}
                    {% if ( app.session.has('id') ) %}
                        <li role="presentation"><a href="/unlog">Logout</a>
                        <li role="presentation"><a href="/addImg">Add Image</a>
                        <li role="presentation"><a href="/users/photos">My photos</a>
                        <li role="presentation"><a href="/allComments">All Comments</a>
                        <li role="presentation"><a href="/notifications">Notifications</a>
                        <img src="/assets/uploads/{{ app.session.get('img') }}">
                    <li role="presentation"><a href="/users/get">{{ app.session.get('name') }}</a>
                    {% else  %}
                        <li role="presentation"> <a href="/users/login">Login</a>
                        <li role="presentation"> <a href="/users/register">Register</a>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}

            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                <p>PWGRAM - Eric Batlle Clavero · Nuria Gómez Piedrafita</p>
                <p>Copyright 2017</p> {#{{ app.name }}#}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="{{ asset('/jquery-3.2.1.min.js','js') }}" type="text/javascript" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>