{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
{% endblock %}

{% block content %}
    <h1 class="text-center">Edit Image </h1>
    <div class="login-container">
        <form class="navbar-form" action="/myphotos/edit/{{ photos.id }}" METHOD="POST" enctype="multipart/form-data">
            <img id="thumbnail" src="/assets/uploads/{{ photos.img_path }}" width="200" height="200"  />
            {{ form_widget(form, {'attr': {'id': 'src'}}) }}
        </form>
    </div>

    {% if ok == false %}
        <div class="alert alert-warning text-center">
            <strong>Warning!</strong> Something goes wrong
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/thumbnail.js','js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}