{% extends "base.twig" %}
{% block links %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Home</h1>

    <h2>Top5</h2>

    {% for i in 1..top5|length if top5|length > 0%}
        {% set foo = 0 %}
        <div>
            <h3>Img {{ top5[i-1].img_path }}</h3>
{#
            ToDo: No need to show img_path
#}
            <img src="assets/uploads/{{ top5[i-1].img_path }}" width="200" height="200">
            <p>Title <a href="/photo/{{ top5[i-1].id }}">{{ top5[i-1].title }}</a></p>
            <p>UserName <a href="/profile/{{ top5[i-1].user_id }}">{{ top5[i-1].username }}</a></p>
            <p>Date {{ top5[i-1].created_at }}</p>
            <p>Likes {{ top5[i-1].likes }}</p>
            <form id="{{ top5[i-1].id }}" class="like_form" action="" METHOD="POST" enctype="multipart/form-data">
                {% for j in 1..liked|length if liked|length > 0 %}
                    {% if top5[i-1].id == liked[j-1].id %}
                        <input type="submit" value="Dislike">
                        {% set foo = 1 %}
                    {% endif %}
                {% endfor %}
                {% if foo == 0 %}
                    <input type="submit" value="Like">
                {% endif %}

            </form>
            <p>Visits {{ top5[i-1].visits }}</p>
        </div>
        {% if app.session.has('id') %}
            {#ToDo: Comment is now not saved#}
            {#<form action="/addComment/{{ app.session.get('id') }}" METHOD="POST" enctype="multipart/form-data">#}
            <form  id="{{ top5[i-1].id }}" class="comment_form" action="" METHOD="POST" enctype="multipart/form-data">
                <textarea id="{{ top5[i-1].id }}" name="comment" class="comment"></textarea>
                <input type="submit">
            </form>
        {% endif %}
    {% endfor %}

    <h2>Last5</h2>
    {% for i in 1..last5|length if last5|length > 0%}
        <div>
            <h3>Img {{ last5[i-1].img_path }}</h3>
            <img src="assets/uploads/{{ last5[i-1].img_path }}">
            <p>Title <a href="/photo/{{ last5[i-1].id }}">{{ last5[i-1].title }}</a></p>
            <p>UserName <a href="/profile/{{ last5[i-1].user_id }}">{{ last5[i-1].username }}</a></p>
            <p>Date {{ last5[i-1].created_at }}</p>
            <p>Likes {{ last5[i-1].likes }}</p>
            <p>Visits {{ last5[i-1].visits }}</p>
        </div>
    {% endfor %}

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/ajax_v3.js','js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('/like.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}