{% extends "base.twig" %}
{% block links %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Home</h1>

    <h2>Top5</h2>
    {% for i in 1..top5|length if top5|length > 0%}
        <div>
            <h3>Img {{ top5[i-1].img_path }}</h3>
            <img src="assets/uploads/{{ top5[i-1].img_path }}">
            <p>Title {{ top5[i-1].title }}</p>
            {#ToDo: Change user_id to name#}
            <p>UserName {{ top5[i-1].user_id }}</p>
            <p>Date {{ top5[i-1].created_at }}</p>
            <p>Likes {{ top5[i-1].likes }}</p>
            <p>Visits {{ top5[i-1].visits }}</p>
        </div>
        {% if app.session.has('id') %}
            {#ToDo: Comment is now not saved#}
            {#<form action="/addComment/{{ app.session.get('id') }}" METHOD="POST" enctype="multipart/form-data">#}
            <form  class="comment_form" action="" METHOD="POST" enctype="multipart/form-data">
                <textarea name="comment" class="comment"></textarea>
                <input type="submit">
            </form>
        {% endif %}
    {% endfor %}

    <h2>Last5</h2>
    {% for i in 1..last5|length if last5|length > 0%}
        <div>
            <h3>Img {{ last5[i-1].img_path }}</h3>
            <img src="assets/uploads/{{ last5[i-1].img_path }}">
            <p>Title {{ last5[i-1].title }}</p>
            {#ToDo: Change user_id to name#}
            <p>UserName {{ last5[i-1].user_id }}</p>
            <p>Date {{ last5[i-1].created_at }}</p>
            <p>Likes {{ last5[i-1].likes }}</p>
            <p>Visits {{ last5[i-1].visits }}</p>
        </div>
    {% endfor %}

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/ajax.js','js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}