{% extends "base.twig" %}

{#{% block title %}User info{% endblock %}#}

{% block content %}
    <h1> NOTIFICATIONS</h1>
    {% for i in 1..notifications|length if notifications|length > 0 %}
        <img src="/assets/uploads/{{ notifications[i-1].img_path }}">
        <p>El usuario <a href="/profile/{{ notifications[i-1].user_id }}">{{ notifications[i-1].username }}</a> te ha comentado en la imagen <a href="/photo/{{ notifications[i-1].img_id }}">{{ notifications[i-1].title }}</a></p>
        <p><a href="/notification/remove/{{ notifications[i-1].id }}">Viewed</a></p>
    {% endfor %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/select.js','js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

