{% extends "base.twig" %}

{#{% block title %}User info{% endblock %}#}

{% block content %}
    <h1> {{ profile.username }} PROFILE</h1>
    <p>Images {{ photos|length }}</p>
    <p>Comments {{ comments|length }}</p>

    <h1>Photos</h1>
    <form action="/profile/{{ profile.id }}" method = "POST">
        <select name = "options">
            <option value="1">Creation date</option>
            <option value="2">Likes</option>
            <option value="3">Comments</option>
            <option value="4">Visits</option>
        </select>
        <input type="submit" value="Send">
    </form>
    {% for i in 1..photos|length if photos|length > 0%}
            <img src="/assets/uploads/{{ photos[i-1].img_path }}">
            <h3>Title <a href="">{{ photos[i-1].title }}</a></h3>
    {% endfor %}
    {% for i in 1..photos1|length if photos1|length > 0%}
        <img src="/assets/uploads/{{ photos1[i-1].img_path }}">
        <h3>Title <a href="">{{ photos1[i-1].title }}</a></h3>
    {% endfor %}

{% endblock %}