{% extends "base.twig" %}

{#{% block title %}User info{% endblock %}#}

{% block content %}
    <h1> {{ profile.username }} PROFILE</h1>
    <p>Images {{ photos|length }}</p>
    <p>Comments {{ comments|length }}</p>

    <h1>Photos</h1>
    {% for i in 1..photos|length if photos|length > 0%}
        <div>
            <img src="/assets/uploads/{{ photos[i-1].img_path }}">
            <h3>Title <a href="">{{ photos[i-1].title }}</a></h3>
        </div>
    {% endfor %}

{% endblock %}