{% extends "base.twig" %}

{#{% block title %}User info{% endblock %}#}

{% block content %}
    <h1> {{ profile.username }} PROFILE</h1>
    <p>Images {{ photos|length }}</p>
    <p>Comments {{ comments|length }}</p>

    <h1>Photos</h1>
    <form action="/profile/{{ profile.id }}" method = "POST">
        <select name="options" class="orderSort">
            {% if option == 1 %}
                <option value="1">Creation date</option>
                <option value="2">Likes</option>
                <option value="3">Comments</option>
                <option value="4">Visits</option>
            {% elseif option == 2 %}
                <option value="2">Likes</option>
                <option value="1">Creation date</option>
                <option value="3">Comments</option>
                <option value="4">Visits</option>
            {% elseif option == 3 %}
                <option value="3">Comments</option>
                <option value="1">Creation date</option>
                <option value="2">Likes</option>
                <option value="4">Visits</option>
            {% elseif option == 4 %}
                <option value="4">Visits</option>
                <option value="1">Creation date</option>
                <option value="2">Likes</option>
                <option value="3">Comments</option>
            {% endif %}

        </select>
        <input type="submit" value="Send">
    </form>
    {% for i in 1..photos|length if photos|length > 0%}
            <img src="/assets/uploads/{{ photos[i-1].img_path }}">
            <h3>Title <a href="">{{ photos[i-1].title }}</a></h3>
        </div>
    {% endfor %}

{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/select.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}

