{% extends "base.twig" %}

{#{% block title %}Register{% endblock %}#}


{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{ text-transform: uppercase;}
    </style>
    {%  block styles %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/style.css','css') }}">
    {% endblock %}

{% endblock %}

{% block content %}
    <h1>Register </h1>
    {#<form action="/users/register" METHOD="POST" onsubmit="return validateForm()" enctype="multipart/form-data">#}
    <form action="" METHOD="POST" onsubmit="return validateForm()" enctype="multipart/form-data">
    {{ form_widget(form) }}
        <img id="thumbnail" src="/assets/uploads/default.jpg" width="200" height="200"  />
    </form>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/thumbnail.js','js') }}" type="text/javascript" charset="utf-8"></script>

  {#  <script src="{{ asset('/app.js','js') }}" type="text/javascript" charset="utf-8"></script>
#}
{% endblock %}

