{% extends "base.twig" %}
{% block links %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <img src="/assets/uploads/{{ image.img_path }}" class="img-responsive img-thumbnail" alt="Responsive image">
    <p class="text-center"><a href = "/profile/{{ image.user_id }}">{{ user }}:</a> {{ image.title }}</p>
    <p class="text-center">{{ image.likes }} likes     |    {{ image.visits }} visits</p>
    <p class="text-center">{{ interval }} day ago</p>

    <h3 class="text-center">Comments</h3>
    <div id="coments">
        {% if comments|length < 3 %}
            {% for i in 1..comments|length if comments|length > 0%}
                    <p class="text-center"> {{ comments[i-1].comment }}</p>
            {% endfor %}

        {% else %}
            {% for i in 1..3%}
                <p class="text-center"> {{ comments[i-1].comment }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <form  id="1" class="more_comment_form"  action="" METHOD="POST" enctype="multipart/form-data">
        <input id="{{ image.id }}" class="more_comment_input" type="submit" value="Más comentarios">
    </form>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/moreComments_v2.js','js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}