{% extends "base.twig" %}
{% block links %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2>{{ user }}</h2>
    <h1>{{ image.title }}</h1>
    <img src="/assets/uploads/{{ image.img_path }}" width="400" height="300">
    <p>Days since the publication: {{ interval }}</p>

    {% if comments|length < 3 %}
        {% for i in 1..comments|length if comments|length > 0%}
                <p> {{ comments[i-1].comment }}</p>
        {% endfor %}

    {% else %}
        {% for i in 1..3%}
            <p> {{ comments[i-1].comment }}</p>
        {% endfor %}
    {% endif %}

    <form  id="" class="more_comment_form" action="" METHOD="POST" enctype="multipart/form-data">
        <input type="submit">
    </form>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/ajax_v3.js','js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}