{% extends "base.twig" %}
{% block links %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2><a href = "/profile/{{ image.user_id }}">{{ user }}</a></h2>
    <h1>{{ image.title }}</h1>
    <img src="/assets/uploads/{{ image.img_path }}" width="400" height="300">
    <p>Days since the publication: {{ interval }}</p>
    <p>Visits: {{ image.visits }}</p>
    <p>Likes: {{ image.likes }}</p>
    {% if app.session.has('id') %}
        {% if like == 1 %}
            <form id="{{ image.id }}" class="like_form" name="Dislike" action="" METHOD="POST" enctype="multipart/form-data">
            <input id="{{ image.id }}" class="like_input" type="submit" value="Dislike">
        {% else %}
            <form id="{{ image.id }}" class="like_form" name="Like" action="" METHOD="POST" enctype="multipart/form-data">
            <input id="{{ image.id }}" class="like_input" type="submit" value="Like">
        {% endif %}
            </form>
    {% endif %}
    {% if app.session.has('id') %}
            {#ToDo: Comment is now not saved#}
            {#<form action="/addComment/{{ app.session.get('id') }}" METHOD="POST" enctype="multipart/form-data">#}
            <form  id="{{ image.id }}" class="comment_form" action="" METHOD="POST" enctype="multipart/form-data">
                <textarea id="{{ image.id }}" name="comment" class="comment"></textarea>
                <input type="submit">
            </form>
        {% endif %}
    <h3>Comments</h3>
    <div id="coments">
        {% if comments|length < 3 %}
            {% for i in 1..comments|length if comments|length > 0%}
                    <p> {{ comments[i-1].comment }}</p>
            {% endfor %}

        {% else %}
            {% for i in 1..3%}
                <p> {{ comments[i-1].comment }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <form  id="1" class="more_comment_form"  action="" METHOD="POST" enctype="multipart/form-data">
        <input id="{{ image.id }}" class="more_comment_input" type="submit" value="Más comentarios">
    </form>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/moreComments_v2.js','js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('/like_publicImage.js','js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('/comment.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}